.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.index-hero {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-color: #D9D9D9;
  background-image: url("public/playground_assets/banner-1500h.jpg");
  background-position: bottom;
}
.index-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.index-image {
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 1.3rem;
  margin: auto;
  position: absolute;
}
.index-container1 {
  width: 100%;
  margin: 120px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text {
  color: #ffffff;
  font-size: 4rem;
  max-width: 50rem;
  align-self: flex-start;
  text-align: left;
}
.index-text04 {
  color: #ffffff;
  width: 800px;
  font-size: 1.4rem;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: left;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-threeunits);
}
.index-text05 {
  text-align: center;
}
.index-navlink {
  color: #000000;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 25px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #ff0004;
}
.index-navlink:hover {
  transform: scale(1.02);
}
.index-text07 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.index-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.index-text08 {
  color: #dedede;
  font-size: 3rem;
  text-align: center;
}
.index-text09 {
  color: #ffffff;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.index-navlink1 {
  color: #000000;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 25px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #ff0004;
}
.index-navlink1:hover {
  transform: scale(1.02);
}
.index-text12 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.index-stats {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
}
.index-stat {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.index-icon {
  fill: #ff0000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.index-text13 {
  color: #ffffff;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-text15 {
  color: #ffffff;
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.index-stat1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.index-icon03 {
  fill: #ff0202;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.index-text17 {
  color: #ffffff;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-text21 {
  color: #ffffff;
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.index-stat2 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.index-icon05 {
  fill: #ff0000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.index-text23 {
  color: #ffffff;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-text24 {
  color: #ffffff;
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.index-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.index-image1 {
  height: 1.5rem;
  object-fit: cover;
}
.index-text26 {
  color: #ffffff;
}
.index-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-icon07 {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon09 {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon11 {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  border-color: #ffffff;
}
@media(max-width: 991px) {
  .index-hero {
    height: 100%;
    min-height: auto;
  }
  .index-text {
    max-width: 40rem;
    align-self: center;
    text-align: center;
  }
  .index-text04 {
    width: 700px;
    align-self: center;
    text-align: center;
  }
  .index-navlink {
    align-self: center;
  }
  .index-text09 {
    max-width: 100%;
  }
  .index-navlink1 {
    align-self: center;
  }
  .index-text17 {
    color: #ffffff;
  }
  .index-text21 {
    color: #ffffff;
  }
  .index-text23 {
    color: #ffffff;
  }
  .index-text24 {
    color: #ffffff;
  }
  .index-footer {
    height: 184px;
    position: relative;
    max-width: auto;
  }
  .index-image1 {
    top: 32px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .index-text26 {
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .index-icon-group {
    top: 120px;
    left: 0px;
    right: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .index-hero {
    height: 100%;
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-image {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .index-text {
    max-width: 30rem;
    align-self: center;
    text-align: center;
  }
  .index-text04 {
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .index-navlink {
    align-self: center;
  }
  .index-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index-navlink1 {
    align-self: center;
  }
  .index-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-stat {
    padding: var(--dl-space-space-unit);
  }
  .index-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .index-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .index-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-text26 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .index-hero {
    height: 100%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-header {
    padding: var(--dl-space-space-unit);
  }
  .index-text {
    font-size: 3rem;
    max-width: 20rem;
  }
  .index-text04 {
    font-size: 1.1rem;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index-navlink {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-text08 {
    font-size: 2.3rem;
  }
  .index-navlink1 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-footer {
    height: 141px;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .index-image1 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .index-text26 {
    left: 0px;
    right: 0px;
    margin-top: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .index-icon-group {
    top: 0px;
    margin: 110px;
  }
}
